pipeline/end_to_end_pipeline.json
{
	"name": "end_to_end_pipeline",
	"properties": {
		"activities": [
			{
				"name": "START_LOGGING",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_pipelinelogging]",
					"storedProcedureParameters": {
						"pipelinenm": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinerunid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"pipelinestatus": {
							"value": {
								"value": "STARTED",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZURE_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GET_MAX_WM_VALUE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START_LOGGING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(updatedate) from students",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_STUDENT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GET_CURRENT_WM_VALUE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START_LOGGING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "GET_STUDENT_DATA",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GET_MAX_WM_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GET_CURRENT_WM_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from students where updatedate >= @activity('GET_CURRENT_WM_VALUE').output.firstRow.value   and   updatedate <= @activity('GET_MAX_WM_VALUE').output.firstRow.value",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_STUDENT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET_STUDENT_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}